<div class="container">
<div class="row">
<ul class="img-list .col-md-6">
  <li>
    <a href="https://pamelas-project.herokuapp.com/" target="blank">
      <img src="assets/PamelasProject.png" width="700" height="400" />
      <span class="text-content"><span><h2>Pamelas Project</h2> 
      	<p> Ruby on Rails </p>
      	<p> Simple Admin Panel Project where an admin can manage adminstrative tasks easily.</p></span></span>
    </a>
  </li>
    <li>
    <a href="https://stickido.herokuapp.com/projects/1/stickis" target="blank">
      <img src="assets/Stickido.png" width="700" height="400" />
      <span class="text-content"><span><h2>Stickido</h2> 
      	<p> Ruby on Rails </p>
      	<p> A organizer app where a user can create "stickis" and "dos" to manage projects.</p></span></span>


    </a>
  </li>
      <li>
    <a href="https://td-game.herokuapp.com" target="blank">
      <img src="assets/TD.png" width="700" height="400" />
      <span class="text-content"><span><h2>TD Game</h2> 
        <p> Unity on Rails </p>
        <p> A small Tower Defense game created with Unity and embed on rails.</p></span></span>


    </a>
  </li>
</ul>
</div>
</div>
